<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="page-title" title="결재 문서 작성">
    <title>결재 문서 작성</title>
    <link rel="stylesheet" th:href="@{/css/approval/write.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="/js/approval/approvalSearch.js"></script>
    <script src="/js/approval/approvalUser.js"></script>
    <script src="/js/approval/approvalForm.js"></script>
</head>
<body>
<div class="approvalWrite_root" id="loadedContent">
    <div class="approval-con">
        <div class="approval-title">
            <h1>결재 작성</h1>
        </div>
        <div class="approval-write">
            <div class="approval-form">
                <form th:action="@{/post/approval/write}" method="post" th:object="${approvalDto}">
                    <table border="1">
                        <tr>
                            <th scope="row"><label th:for="ApprovalTitle">제목</label></th>
                            <td>
                                <input type="text" th:field="*{ApprovalTitle}" class="inputTitle">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label>결재선</label></th>
                            <td>
                                <input type="text" name="nameSearch" id="nameSearch" class="inputSearch">
                                <div class="searchBox">
                                    <ul>
                                        <li th:each="employee: ${employeePage}">
                                                <span class="userAddBtn"
                                                      name="employeeNo"
                                                      th:value="${employee.employeeNo}"
                                                      th:text="|${employee.employeeName} - ${employee.employeeDep} - ${employee.employeePosition}|"></span>
                                        </li>
                                    </ul>
                                </div>
                                </br>
                                <div id="ApprovalUserData">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><label th:for="ApprovalContent">내용</label></th>
                            <td>
                                    <textarea cols="30" rows="10" th:field="*{ApprovalContent}"
                                              class="inputContent"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="th-last"></th>
                            <td class="td-last">
                                <input type="submit" value="상신">
                                <a th:href="@{/approval/create}">목록</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
