<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- head 부분 내용 -->
  <meta charset="UTF-8">
  <title>게시물 상세 정보</title>
</head>
<body>
<h1>게시물 상세 정보</h1>
<div>
  <h2>제목: <span th:text="${board.title}"></span></h2>
  <p>내용: <span th:text="${board.content}"></span></p>
</div>
<a href="/boards/list">게시판 목록으로 돌아가기</a>

<!-- 삭제 폼 -->
<form id="deleteForm" action="/api/boards/${board.id}" method="delete">
  <button type="button" id="deleteButton">게시물 삭제</button>
</form>

<script>
    const deleteButton = document.getElementById('deleteButton');
    const deleteForm = document.getElementById('deleteForm');

    deleteButton.addEventListener('click', () => {
        const confirmation = confirm('게시물을 삭제하시겠습니까?');
        if (confirmation) {
            deleteForm.submit();
        }
    });
</script>

</body>
</html>
