<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <th:block th:fragment="headerFragment">
        <link rel="stylesheet" th:href="@{/css/common/header.css}">
        <div class="gnb">
            <span class="logo">그린컴퓨터아카데미</span>
            <div class="notice">
                notice list...
            </div>
            <div class="user-console">
                <img src="/images/fragments/header/iconmonstr-email-4.svg" alt="메세지 아이콘" class="message_icon">
                <img src="/images/fragments/header/iconmonstr-bell-2.svg" alt="알람 아이콘" class="alarm_icon">
                <div class="profile-img_box">
                    <img src="" alt="프로필 이미지" onerror="this.onerror=null; this.src='/images/fragments/header/iconmonstr-user-7.svg'">
                </div>

                <span>login info</span>
            </div>
        </div>
    </th:block>
</html>