<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <th:block th:fragment="snbFragment">
        <link rel="stylesheet" th:href="@{/css/common/snb.css}">
        <div class="snb">

            <div class="general">
                <span>GENERAL</span>
                <ul>
                    <li><img src="/images/fragments/snb/iconmonstr-dashboard-filled.svg" alt="대시보드 아이콘"><a href="">대시보드</a></li>
                </ul>
            </div>

            <div class="work">
                <span>WORK</span>
                <ul>
                    <li><a href="">인사 관리</a></li> <!--admin-->
                    <li><a href="">일정 관리</a></li>
                    <li><a href="">업무 관리</a></li>
                    <li><a href="">전자결재</a></li>
                    <li><a href="">업무일지</a></li>
                </ul>
            </div>

            <div class="student">
                <span>STUDENT</span>
                <ul>
                    <li><a href="">수강생 조회</a></li>
                    <li><a href="">수강생 관리</a></li>
                </ul>
            </div>

            <div class="community">
                <span>COMMUNITY</span>
                <ul>
                    <li><a href="">공지사항</a></li>
                </ul>
            </div>

        </div>
    </th:block>
</html>