<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/employee/tempPassword.js}" defer="defer"></script>
</head>
<body>
<div class="container">
    <div class="temp">
        <div class="temp-con">
            <div class="title">
                <h1>비밀번호 찾기</h1>
            </div>
            <div class="temp-form">
                <form id="tempPasswordForm" th:action="@{/send-mail/password}" method="post">
                    <ul>
                        <li class="email">
                            <div class="email-group">
                                <label for="employeeEmail">이메일</label>
                                <div class="email-write">
                                    <input type="email" id="employeeEmail" name="employeeEmail" required="required" placeholder="이메일 입력">
                                </div>
                            </div>
                        </li>
                        <li class="phone">
                            <div class="phone-group">
                                <label for="employeePhone">휴대전화번호</label>
                                <div class="phone-write">
                                    <input type="text" id="employeePhone" name="employeePhone" required="required" placeholder="휴대전화번호 입력">
                                </div>
                            </div>
                        </li>
                        <li class="Btn">
                            <button type="submit">임시비밀번호 발급</button>
                        </li>
                    </ul>
                </form>
                <div id="tempPasswordMessage" style="display: none;" class="password"></div>
            </div>
        </div>
    </div>
</div>
<button th:onclick="@{location.href='/index'}">홈</button>
</body>
</html>