<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="page-title" content="스케쥴 타이틀">
    <title>Schedule</title>
    <link rel="stylesheet" th:href="@{/css/schedule/schedule.css}">
    <script th:src="@{/js/schedule/schedule.js}"></script>
    <script th:src="@{/js/schedule/fullcalendar-6.1.9/dist/index.global.js}"></script>
    
</head>
<body>

  <div class="schedule_root" id="loadedContent">
    <h1>스케쥴 페이지입니다.</h1>
    <div id="calender"></div>
  </div>

</body>
</html>