@import url(/css/common/reset.css);
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Giants-Inline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Pretendard;
}

.dashboard_gnb {
    position: sticky;
    top: 50px;
    z-index: 9;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    background-color: #ffffff;
    box-shadow: 0px 10px 10px -5px #f1f1f1;
    padding-right: 15px;
    box-sizing: border-box;
}
.dashboard_gnb img {
    height: 15px;
    width: 15px;
    filter: invert(27%) sepia(0%) saturate(0%) hue-rotate(3deg) brightness(94%) contrast(95%);
}
.dashboard_gnb span {
    font-size: 12px;
    font-weight: bold;
    color: #444444;
}
.dashboard_gnb_divider{
    padding: 0 5px;
}

.shortcut_section {
    /* width: 860px; */
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    column-gap: 20px;
    row-gap: 20px;
}

.shortcut_box_1 {
    grid-area: 1 / 1 / 2 / 2;
    height: 100px;
    width: 200px;
    border-radius: 5px;

    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #dedede;
}
.shortcut_box_2 {
    grid-area: 1 / 2 / 2 / 3;
    height: 100px;
    width: 200px;
    border-radius: 5px;

    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #dedede;
}
.shortcut_box_3 {
    grid-area: 1 / 3 / 2 / 4;
    height: 100px;
    width: 200px;
    border-radius: 5px;

    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #dedede;
}
.shortcut_box_4 {
    grid-area: 2 / 1 / 3 / 2;
    height: 100px;
    width: 200px;
    border-radius: 5px;

    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #dedede;
}
.shortcut_box_5 {
    grid-area: 2 / 2 / 3 / 3;
    height: 100px;
    width: 200px;
    border-radius: 5px;

    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #dedede;
}
.shortcut_box_6 {
    grid-area: 2 / 3 / 3 / 4;
    height: 100px;
    width: 200px;
    border-radius: 5px;

    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #dedede;
}
.profile_box {
    grid-area: 1 / 4 / 3 / 5;
    height: 220px;
    width: 340px;
    border-radius: 5px;

    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #dedede;
}
.shortcut_box_8 {

}