@import url(/css/common/reset.css);





.root {
    background-color: #f7f8fa;
}

.container {
    display: flex;
}
.dashboard {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;
}