<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="page-title" content="대쉬보드 타이틀">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>

  <div class="dashboard_root" id="loadedContent">
    <h1>대쉬보드 페이지입니다.</h1>

    <div class="shortcut_section">
      <div class="shortcut_box_1">

      </div>
      <div class="shortcut_box_2">

      </div>
      <div class="shortcut_box_3">

      </div>
      <div class="shortcut_box_4">

      </div>
      <div class="shortcut_box_5">

      </div>
      <div class="shortcut_box_6">

      </div>
      <div class="shortcut_box_7">

      </div>
      <div class="shortcut_box_8">

      </div>
    </div>
  </div>
  
</body>
</html>