<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="page-title" content="대쉬보드 타이틀">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>

    <div class="dashboard_root" id="loadedContent">

        <div class="dashboard_gnb">
            <a href="/dashboard"><img src="/images/dashboard/gnb/iconmonstr-home-6.svg" alt="홈 버튼"></a>
            <span class="dashboard_gnb_divider">/</span>
            <span>대시보드</span>
        </div>
    
        <div class="shortcut_section">
            <div class="shortcut_box_1">
    
            </div>
            <div class="shortcut_box_2">
        
            </div>
            <div class="shortcut_box_3">
        
            </div>
            <div class="shortcut_box_4">
        
            </div>
            <div class="shortcut_box_5">
        
            </div>
            <div class="shortcut_box_6">
        
            </div>
            <div class="profile_box">
        
            </div>
        </div>

        <div class="shortcut_section">
            <div class="shortcut_box_1">
    
            </div>
            <div class="shortcut_box_2">
        
            </div>
            <div class="shortcut_box_3">
        
            </div>
            <div class="shortcut_box_4">
        
            </div>
            <div class="shortcut_box_5">
        
            </div>
            <div class="shortcut_box_6">
        
            </div>
            <div class="profile_box">
        
            </div>
        </div>
        


        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>
        <h1>대쉬보드 페이지입니다.</h1>

    </div>
  
</body>
</html>