<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="page-title" title="대시보드">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>

    <div class="dashboard_root" id="loadedContent">
    
        <div class="shortcut_section">
            <div class="shortcut_box_1">
    
            </div>
            <div class="shortcut_box_2">
        
            </div>
            <div class="shortcut_box_3">
        
            </div>
            <div class="shortcut_box_4">
        
            </div>
            <div class="shortcut_box_5">
        
            </div>
            <div class="shortcut_box_6">
        
            </div>
            <div class="profile_box">
        
            </div>
        </div>

        <div class="shortcut_section">
            <div class="shortcut_box_1">
    
            </div>
            <div class="shortcut_box_2">
        
            </div>
            <div class="shortcut_box_3">
        
            </div>
            <div class="shortcut_box_4">
        
            </div>
            <div class="shortcut_box_5">
        
            </div>
            <div class="shortcut_box_6">
        
            </div>
            <div class="profile_box">
        
            </div>
        </div>
        
    </div>
  
</body>
</html>