@import url(/css/common/reset.css);


table {
    position: relative;
    z-index: 998;
}

td .searchBox{
    width: 200px;
    height: 100px;
    display: none;
    position: absolute;
    z-index: 999;
    overflow-y: scroll;
    border: 1px solid;
    background-color: #cccccc;
}
